@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,600&display=swap');

:root {
  /* --border-width: 1px;
  --border-style: solid;
  --font-size-small: 12px;
  --font-weight-semibold: 500;
  --size-2: 20px; */

  /* background */
  --color-bg-dark: #1e2228;
  --color-bg-primary: #22272e;
  --color-border-primary: #444c56;

  /* text */
  --color-text-primary: #adbac7;

  /* container width */
  /* --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1140px + var(--vertical-scroll)); */

  /* animation */
  /* --animation-fast: 0.1s;
  --animation-slow: 0.3s;

  --animation-transition: all 0.2s ease-in-out; */
}

/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 14px;
  line-height: 1.5; */
  color: var(--color-text-primary);
  background-color: var(--color-bg-dark);
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

p {
  margin: 5px 5px 10px;
  /* font-size: 16px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.wrapper {
  padding: 20px 20px;
}

details summary::-webkit-details-marker {
  display: none;
}

.Box {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
}

.p-box {
  padding: 12px !important;
}

.mt {
  margin-top: 8px !important;
}
