@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,600&display=swap');

:root {
  /* background */
  --color-bg-dark: #1e2228;
  --color-bg-primary: #22272e;
  --color-border-primary: #444c56;

  /* text */
  --color-text-primary: #adbac7;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-dark);
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

ol {
  padding-inline-start: 30px;
}

p {
  margin: 5px 2px 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.wrapper {
  padding: 0px 5px;
}

details summary::-webkit-details-marker {
  display: none;
}

.Box {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 6px;
}

.p-box {
  padding: 12px !important;
}

.mt {
  margin-top: 8px !important;
}

@media only screen and (min-width: 660px) {
  .wrapper {
    padding: 0px 20px;
  }
}
